.contents
  / .notification
  /   .notice チャットグループが作成されました。
  .side-bar
    .side-bar__top
      %h3.side-bar__top__name
        = current_user.name
      .side-bar__top__icons
        = link_to new_group_path do
          = fa_icon("edit 2x")
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog 2x', class: 'icon'
    .side-bar__group
      = render partial: "side-bar"

  .main
    .main__top
      .main__top__left
        %p.main__top__left__title
          = @group.name
        %p.main__top__left__members
          Member：
          = current_user.name
      .main__top__right
        .main__top__right__btn
          = link_to "/groups/1/edit" do
            %p.fa_icon Edit
    .main__messages
      / = render partial: 'main__messages', collection: @messages
      - @messages.each do |message|
        .main__messages__list
          .main__messages__list__name
            = message.user.name
          .main__messages__list__date
            = message.created_at
          .main__messages__list__content
            .main__messages__list__content__text
              - if message.content.present?
                = message.content
            .main__messages__list__content__image
              - if message.image.present?
                = image_tag message.image.url

    .main__form
      = form_for [@group, @message], html: {class: 'message-form'}  do |f|
        .main__form__area
          = f.text_field :content, class: 'main__form__area__text', placeholder: 'type a message'
        .main__form__area__img
          .main__form__area__img__icon
            = f.label :image, class: 'main__form__area__img__icon' do
              = fa_icon("picture-o")
              = f.file_field :image, class: 'main__form__area__img__hidden'
        = f.submit 'SEND', class: 'main__form__area__btn'
